body{
    font-family: 'Kanit', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}
html, body {
    width: 100%;
    height: 100%;
}


#map{
    height: 620px;
    width: 100%;
    /* border-radius: 10px; */
}

#card{
    border-radius: 10px;
    /* background-color: lightcyan; */
}

.mt{
	margin-top: 2rem;
}

.dcard{
    height: 620px;
    padding: 1.5rem;;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
}

